player-connection-mode=Listen
player-connection-guid=1635973548
player-connection-debug=0
player-connection-project-name=MultiplayerClassLCMgo
player-connection-ip=192.168.0.103
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=63b593b2236b4a4a9010f1c3f865c860
