player-connection-mode=Listen
player-connection-guid=323438549
player-connection-debug=0
player-connection-project-name=MultiplayerClassLCMgo
player-connection-ip=192.168.1.8
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7b088f4145714e5aa62505825bb3085f
